.header{
    position: relative;
}

.top-bar{
    position: absolute;
    top: 50px;
    z-index: 2;

    background-color: transparent;
    width: 100%;
}
.top-bar ul{
    background-color: transparent;   
}


.top-bar {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:100
}
.top-bar h1 {
	position:absolute;
	margin:0;
	top:25px;
	left:20px
}
.top-bar h1 a {
	display:block;
	text-indent:-3000px;
	font-size:0;
	overflow:hidden;
	width:150px;
	height:55px;
	background:url(img/logo.svg) no-repeat;
	background-size:100% auto
}
.top-bar h1 a:after {
	position:absolute;
	bottom:-8px;
	right:7px;
	width:1000px;
	height:1px;
	background:#fff;
	content:'';
	display:block
}
.top-bar .top-bar-left {
	position:relative;
	top:30px;
	right:00px
}
.top-bar .top-bar-left ul {
	margin:0;
	padding:0
}
.top-bar .top-bar-left ul li {
	list-style:none;
	margin:0;
	padding:0
}
.top-bar .top-bar-left .top-bar-right {
	font-family:"Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
	font-size:15px;
	letter-spacing:0.02em;
	color:#fff;
	text-transform:uppercase;
	padding:25px 18px 15px;
	font-weight:bold;
	display:block;
	position:relative;
	-webkit-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
ul li a {
	font-family:"Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
	font-size:15px;
	letter-spacing:0.02em;
	color:#fff;
	text-transform:uppercase;
	padding:25px 18px 15px;
	font-weight:bold;
	display:block;
	position:relative;
	-webkit-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
/*
.top-bar .top-bar-left ul li a:after {
	height:1px;
	background:#fff;
	width:100%;
	content:'';
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	opacity:0;
	-webkit-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
*/
.top-bar .top-bar-left ul li a:focus,.top-bar .top-bar-left ul li a:hover {
	color:#fff
}
.top-bar .top-bar-left ul li a:focus:after,.top-bar .top-bar-left ul li a:hover:after {
	opacity:1
}
.top-bar .top-bar-left ul li.menu-item-has-children>a {
	padding-bottom:25px
}
/*
.top-bar .top-bar-left ul li.menu-item-has-children:focus>a,.top-bar .top-bar-left ul li.menu-item-has-children:hover>a {
	background:#274FCB
}*/
.top-bar .top-bar-left ul li.menu-item-has-children>a:after {
	display:none
}
.top-bar .top-bar-left ul li.menu-item-has-children:hover ul {
	opacity:1;
	visibility:visible
}
.top-bar .top-bar-left ul li ul {
	position:absolute;
/*	top:100%; */
	left:0;
	
	padding:25px 15px;
	border-top:5px solid #274FCB;
	-webkit-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
	/*visibility:hidden;
	opacity:0;*/
    min-width:250px;
    border: unset;
}
.top-bar .top-bar-left ul li ul li {
	display:block;
	float:none;
	padding:7px 0
}
.top-bar .top-bar-left ul li ul li a {
	padding:0 0 1px;
	display:inline-block;
	text-transform:none;
}
.top-bar .top-bar-left ul li ul li a:after {
	display:block;
}

.is-dropdown-submenu-parent.opens-right > .is-dropdown-submenu{
    top:0px;
}

.subDominio{
	top:30px !important;
}

.card{
	width: 300px;
	display: inline-block;
}
.cardDominios{
	text-align: center;
	display: none;
}
.cardSitiosWeb{
	text-align: center;
	display: none;
}
