.home-blurb-wrp{ clear:both; overflow:hidden; position:relative;}
.home-blurb-wrp .home-blurb{background:#fff; float:left; width:439px; min-height:250px; padding:30px; position:relative;}
.home-blurb h2{color: #5B5B5B; font: bold 35px/37px 'Rokkitt',serif; padding:0;}
.home-blurb h3{color: #5B5B5B; font: normal 20px 'Rokkitt',serif;}
.home-blurb h3 em{ font-weight:normal}
.home-blurb ul{ margin-top:12px; width:255px;}
.home-blurb ul li{background: url("/getImage.php?src=ic-tic-gray.png") no-repeat scroll 5px 3px transparent; color: #5C5C5C; font: 14px/18px Arial,Helvetica,sans-serif; padding: 0 6px 5px 25px;}
.home-blurb .plist{font:bold 14px Arial,Helvetica,sans-serif; color:#9ec429; margin:10px 0 5px 0;}
.home-blurb .prices{font:bold 26px Arial,Helvetica,sans-serif; color:#9ec429;}
.home-blurb .prices .currency{font:bold 14px Arial,Helvetica,sans-serif; vertical-align:top;}
.home-blurb .prices .duration{font:bold 14px Arial,Helvetica,sans-serif; text-transform:uppercase;}
.home-blurb .txt-button{margin-top:10px;}
.home-blurb .img-holder{position:absolute;}
.web-hosting .img-holder{top:78px; right:41px;}
.home-blurb-wrp .first,.home-blurb-wrp .third{ border-right:1px solid #E5E5E5;}
.reseller-hosting .img-holder{top:98px; right:33px;}
.site-builder .img-holder{top:107px; right:12px;}
.ssl-certs .img-holder{top:94px; right:82px;}
.home-blurb-wrp .web-hosting{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fcffe4), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #fcffe4 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcffe4', endColorstr='#ffffff');
	background-color:#fcffe4;
}
.blurb-devider{background: none repeat scroll 0 0 transparent; border-top: 1px solid #E5E5E5; height: 28px; left: 30px; position: absolute; top: 310px; width: 935px;}
.over-white-box{background: none repeat scroll 0 0 #FFFFFF; height: 40px; left: 474px; position: absolute; top: 290px; width: 50px;}
.home-blurb-wrp .txt-button{ text-transform:uppercase; font: bold 14px/18px Arial,Helvetica,sans-serif}